@tailwind base;
@tailwind components;
@tailwind utilities;

.clip {
  clip-path: polygon(
    41% 39%,
    41% 0,
    100% 0,
    100% 66%,
    85% 66%,
    76% 100%,
    0 100%,
    0 39%
  );
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}

.slick-arrow {
  background: #b4ffc9 !important;
  height: 40px !important;
  width: 40px !important;
  border-radius: 50% !important;
}

.bg100 {
  background: url('/images/image1.png') center / cover no-repeat;
}

.bg200 {
  background: url('/images/image2.png') center / cover no-repeat;
}

.bg300 {
  background: url('/images/image3.png') center / cover no-repeat;
}

.box2::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: transparent;
  top: 16px;
  left: 0;
  transform: translate(0, 100%);
  border-radius: 50px 0 0 0;
  box-shadow: -5px -4px 0px white;
}
.box3::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: transparent;
  top: 14px;
  right: 0;
  transform: translate(0, 100%);
  border-radius: 0 50px 0 0;
  box-shadow: 5px -4px 0px white;
}
.box::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: transparent;
  top: 0;
  left: 0;
  transform: translate(-100%, 0);
  border-radius: 0 15px 0 0;
  box-shadow: 5px -3px 0px white;
}
.box::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: transparent;
  bottom: 0;
  right: 0;
  transform: translate(0, 100%);
  border-radius: 0 15px 0 0;
  box-shadow: 7px -4px 0px white;
}
@media (max-width: 768px) {
  .box::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: transparent;
    top: 0;
    right: 0;
    transform: translate(100%, 0);
    border-radius: 15px 0 0 0;
    box-shadow: -7px -4px 0px white;
  }
}

.box6::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background: transparent;
  bottom: 0;
  left: 0;
  transform: translate(0, 100%);
  border-radius: 20px 0 0 0;
  box-shadow: -9px -6px 0px white;
}
.box6::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background: transparent;
  top: 0px;
  right: 0;
  transform: translate(100%, 0);
  border-radius: 20px 0 0 0;
  box-shadow: -9px -6px 0px white;
}

.custom-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    'gridone gridtwo gridthree'
    'gridone gridtwo gridthree'
    'gridone gridtwo gridthree'
    'gridfour gridfive gridsix';
  gap: 10px; /* Optional: Adjust the gap between grid items if needed */
}

/* Example of how to use the grid areas */
.gridone {
  grid-area: gridone;
}

.gridtwo {
  grid-area: gridtwo;
}

.gridthree {
  grid-area: gridthree;
}

.gridfour {
  grid-area: gridfour;
}

.gridfive {
  grid-area: gridfive;
}

.gridsix {
  grid-area: gridsix;
}

.hiddenScroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.hiddenScroll::-webkit-scrollbar-thumb {
  background: transparent;
}

.hiddenScroll::-webkit-scrollbar-track {
  background: transparent;
}

/* Firefox */
.hiddenScroll {
  scrollbar-width: none;
}
